---
import Image from 'astro/components/Image.astro';
import profileimg from './public/profile.jpeg';

---

<div
  class="md:flex  md:justify-between w-full mx-auto lg:max-w-2xl md:max-w-2xl md:pt-5 "
>

  <div class="flex rounded-md shadow-md border  pl-4 pr-10 justify-center md:m-2  mx-10 m-5">
    <Image src={profileimg} alt="perfil the personal." class=" rounded-full size-12  object-cover m-1"/>
    <p class="p-1">@JavierDev</p>
  </div>

  <div class="flex rounded-md shadow-md border  pl-4 pr-10 justify-center md:m-2 mx-10 m-5">
    <Image src={profileimg} alt="perfil the personal." class=" rounded-full size-12  object-cover m-1"/>
    <p class="p-1">@JavierDev</p>
  </div>

  <div class="flex rounded-md shadow-md border  pl-4 pr-10 justify-center md:m-2 mx-10 m-5">
    <Image src={profileimg} alt="perfil the personal." class=" rounded-full size-12  object-cover m-1"/>
    <p class="p-1">@JavierDev</p>
  </div>

  
</div>
