---

---

<footer class="w-full text-center py-5 text-cwhite  font-bold">
    <p>
      Made by{" "}
      <a
        class="font-bold"
        href=""
      >
        Javicervel
      </a>
    </p>
  </footer>