---

---

<footer class="w-full text-center py-5 text-cwhite  font-bold">
    <p>
      Made by{" "}
      <a
        class="font-bold"
        href="https://www.instagram.com/elrincondeldev/"
      >
        El Rincón Del Dev
      </a>
    </p>
  </footer>